$primary: rgb(63, 63, 63);
$secondary: rgb(204, 176, 176);
$success: rgb(30, 145, 30);
$danger: rgb(163, 30, 30);
$info: rgb(75, 126, 192);
$body-bg: rgb(231, 220, 220);
$card-bg: rgb(231, 231, 216);
$border-simple: 1px solid rgb(231, 227, 227);
$margin-y-axis: 10px;
$margin-x-axis: 15px;
$padding: 10px;